.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.or-seperator i {
    padding: 0 10px;
    background: white;
    position: relative;
    top: -11px;
    z-index: 1;
}

.social-btn .btn {
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
    line-height: 24px;
}

.social-btn .btn i {
    float: left;
    margin: 4px 15px 0 5px;
    min-width: 15px;
}
